.container{
    background-image: url('../../public/assets/966314.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.badges{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 25px;
    width: 100%;
    transition: 0.5s all ease;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title{
    transition: 0.5s all ease;
}

.title:hover{
    transform: scale(1.20);
}

.balloon{
    font-size: 25px;
    margin: 20px;
}

@media (max-width:960px){
    .balloon{
        font-size: 18px;
    }
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
