.container{
    background-image: url('../../public/assets/966314.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.badges{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 25px;
    width: 100%;
    transition: 0.5s all ease;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title{
    transition: 0.5s all ease;
}

.title:hover{
    transform: scale(1.20);
}

.balloon{
    font-size: 25px;
    margin: 50px 350px ;
}

@media (max-width:1240px){
    .balloon{
        font-size: 18px;
        margin: 30px;
    }
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}


.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.gif_cont_cent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balloon_projects{
    display: flex;
    gap: 10px;
    margin: 50px 120px;
    justify-content: center;
    align-items: center;
}

@media (max-width:1500px){
    .balloon_projects{
        flex-direction: column;
        margin: 30px;
}
}


